.containerBody {
  display: grid;
  grid-template-columns: 3fr 3fr 7fr;
  margin-top: 50px;
  border-top: 1px solid #404040;
}

.status {
  display: flex;
  align-items: center;
  top: 10px;
  left: 2em;
}

.containerMain {
  padding: 1em;
}

.activeDot {
  height: 1em;
  width: 1em;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.inactiveDot {
  height: 1em;
  width: 1em;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.navSection {
  padding-left: 2em;
  border-right: 1px solid #404040;
}
.navList {
  list-style: none;
  padding: 0;
}

.navList li {
  cursor: pointer;
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: 500;
}

.scrollContainer {
  padding: 0 1em;
  overflow-y: scroll;
  height: 100vh;
  border-right: 1px solid #404040;
}

.containerGrey {
  background-color: #404040;
  color: white;
  border: none;
  border-radius: 5px;
  height: 500px;
  overflow-y: scroll;
  width: 600px;
  padding-left: 1em;
  margin-top: 10px;
}

.scrollContainerGrey {
  padding: 0 1em;
  overflow-y: scroll;
  height: 600px;
  font-size: small;
}

.scrollContainer p {
  font-size: 20px;
}

.formRow {
  margin-bottom: 10px;
  display: flex;
}

.formRow label {
  margin: 10px 0;
  width: 50px;
}

.formRow input {
  width: 300px;
}

.submitBtn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btnPrimary {
  background-color: #7e57c2;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 1em 0px;
}

.btnPrimary:hover {
  background-color: #6d49ab;
  transition: 0.25s;
}

.textDisabled {
  color: grey;
}

.textDisabled:hover {
  color: white;
}
.textActive {
  color: white;
}

.textContainer {
  background-color: #404040;
  color: white;
  border: none;
  border-radius: 5px;
}

.main {
  padding-left: 3em;
}

/* border: 1px solid #404040 */
